/*
 * Widgets barrel.
 */

/*@import "common";
@import "simple-text";
@import "slideshow";*/

.widget {
    background: white;
    padding: 15px 30px;
    margin-bottom: 20px;
}

.widget-title {

}

.widget-actions {

}

.widgets-preview {
    margin: 0;
    list-style: none;
}

.widget-preview {

}