{% extends "InnovaMediaResourceBundle::layout.html.twig" %}

{% block media_resource_content %}
    <div id="media-module" class="media-resource-administrate-container" data-ng-cloak="">
        <mr-admin class="admin-comp" data-resource="{{ _resource | json_encode  }}"></mr-admin>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        load({{ chunks('claroline-distribution-plugin-media-resource-admin')|raw }}, function() {
            angular.bootstrap('#media-module', ['AdminApp']);
        })
    </script>
{% endblock %}
