{% extends 'ClarolineCoreBundle::form_theme.html.twig' %}

{% block daterange_widget %}
    {% spaceless %}
        <div class="input-group input-group-sm">
            {{ block('form_widget') }}
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
        <script type="text/javascript">

            {% if chosenRangeKeys is defined %}
                window.chosenRangeKeys = {{ chosenRangeKeys|raw }};
            {% else %}
                window.chosenRangeKeys = ['yesterday', 'last_seven_days', 'this_month', 'last_month'];
            {% endif %}

            window.formId = "{{ form.vars['id'] }}"
        </script>
        <script> load({{ chunks('claroline-distribution-main-core-form-date-range')|raw }}) </script>
    {% endspaceless %}
{% endblock %}
