{% extends 'ClarolineCoreBundle::form_theme.html.twig' %}

{% block select2_widget %}
    {% spaceless %}
        <div class="select2{% if errors|length > 0 %} has-error{% endif %}">
            {{ block('choice_widget') }}
        </div>
        <script type="text/javascript">
            window.formId = "{{ form.vars['id'] }}"
        </script>
        <script> load({{ chunks('claroline-distribution-main-core-form-select2')|raw }}) </script>
    {% endspaceless %}
{% endblock %}
