{% for event in listTasks %}
        {% include 'ClarolineAgendaBundle:Widget:event_widget.html.twig' %}
    {% else %}
        <div><em>{{ 'no_task_now'|trans({}, 'agenda') }}</em></div>
{% endfor %}

{% block javascripts %}
    <script> load({{ chunks('claroline-distribution-plugin-agenda-task-widget')|raw }}) </script>
{% endblock javascripts %}
