{% extends 'ClarolineCoreBundle:Tool/workspace/logs:layout.html.twig' %}

{% block content %}
    <div
            class="page-container logs-container"
            data-workspace-id="{{ workspace.id | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-main-core-tools-workspace-logs.js') }}"></script>
{% endblock %}