<div class="panel panel-body">
    <div class="row">
        <div
            class="col-md-6"
            data-ng-repeat="user in uc.selected"
            data-ng-class="uc.getHoveredClass($index)"
            data-ng-init="firstAccountIdx = $index; secondAccountIdx = ($index + 1)%2">
            <h1>Compte n°{{ firstAccountIdx + 1 }}</h1>
            <div class="form-group row">
                <label class="col-md-3">{{ 'firstName' | trans:{}:'platform' }}</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" disabled="disabled" value="{{user.firstName}}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3">{{ 'lastName' | trans:{}:'platform' }}</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" disabled="disabled" value="{{user.lastName}}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3">{{ 'mail' | trans:{}:'platform' }}</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" disabled="disabled" value="{{user.mail}}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3">{{ 'username' | trans:{}:'platform' }}</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" disabled="disabled" value="{{user.username}}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3">{{ 'creation_date' | trans:{}:'platform' }}</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" disabled="disabled" value="{{user.created | datetime}}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3">{{ 'last_login_date' | trans:{}:'platform' }}</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" disabled="disabled" value="{{(user.additional_info.last_login_milliseconds | datetime) || ('never'|trans:{}:'platform')}}" />
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3">{{ 'is_account_enabled' | trans:{}:'platform' }}</label>
                <div class="col-md-9">
                    <input type="checkbox" disabled="disabled" data-ng-checked="user.is_enabled" />
                </div>
            </div>

            <div class="form-group row" data-ng-if="user.additional_info.is_validated_mail_mandatory">
                <label class="col-md-3">{{ 'is_mail_validated' | trans:{}:'platform' }}</label>
                <div class="col-md-9">
                    <input type="checkbox" disabled="disabled" data-ng-checked="user.isMailValidated" />
                </div>
            </div>

            <div class="form-group row" data-ng-if="uc.key_exists('cas_id', user.additional_info)">
                <label class="col-md-3">{{ 'is_connected_to_cas' | trans:{}:'platform' }}</label>
                <div class="col-md-9">
                    <input type="checkbox" disabled="disabled" data-ng-checked="user.additional_info.cas_id" />
                    <span data-ng-if="user.additional_info.cas_id">ID: {{ user.additional_info.cas_id }}</span>
                </div>
            </div>

            {{ 'workspace_list'|trans:{}:'platform' }}:
            <ul class="list-group">
                <li ng-repeat="workspace in user.workspaces" class="list-group-item">
                    <a href="{{ 'claro_workspace_open'|path:{'workspaceId':workspace.id} }}" target="_blank"> {{ workspace.name }} </a>
                </li>
            </ul>

            <div class="col-md-12">

                <button data-ng-click="uc.merge(uc.selected[firstAccountIdx].id, uc.selected[secondAccountIdx].id)"
                        data-ng-if="uc.selected[secondAccountIdx].id !== user.additional_info.connected_user_id"
                        data-ng-mouseover="uc.hoveredAccount = firstAccountIdx"
                        data-ng-mouseleave="uc.hoveredAccount = null">
                    {{ 'keep_this_account' | trans:{}:'platform' }}
                </button>

                <span data-ng-if="uc.selected[secondAccountIdx].id === user.additional_info.connected_user_id">
                    {{ 'merge_users_impossible' | trans:{'accountToKeep': firstAccountIdx + 1, 'accountToRemove': secondAccountIdx + 1}:'platform' }}
                </span>

            </div>

        </div>

    </div>

</div>