<div id="deleteChapterPopup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{ 'Chapter Suppression'|trans({}, 'icap_lesson') }}</h3>
            </div>
            <div class="modal-body">
                {% include "IcapLessonBundle:Lesson:deleteChapterForm.html.twig"%}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{{ 'Cancel'|trans({}, 'icap_lesson') }}</button>
                <button type="submit" id="deleteSubmit" class="btn btn-primary">{{ 'confirm'|trans({}, 'icap_lesson') }}</button>
            </div>
        </div>
    </div>
    <script> load({{ chunks('claroline-distribution-plugin-lesson-delete-chapter-popup')|raw }}) </script>
</div>
